h1 {
    color: #333;
    font-size: 36px;
    text-align: center;
    margin-top: 50px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

input[type="submit"] {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin: 0 10px;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}