body {
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 30px;
}

form {
    width: 500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="date"],
input[type="text"],
input[type="number"] {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    display: block;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}