.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.Formulario {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.Padre {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.Nombre,
.Apellido,
.Usuario,
.clave {
    flex-basis: calc(50% - 10px);
}

.Nombre input,
.Apellido input,
.Usuario input,
.clave input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.boton {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: #3e8e41;
}

a {
    margin-left: 10px;
    color: #333;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}